.main_chat
  = render @messages
.form  
  = form_for [@group, @message] do |f|
    = f.text_field :message, class: 'form__text'
    .form__mask
      = f.label :image, class: 'form__mask__image' do
        = icon('fas fa-image', 'image', class: 'icon')
        = f.file_field :image, class: 'hidden'
    = f.submit 'Send', class: 'form__mask__button'